version: "3.9"

services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    restart: always

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    env_file: ./.env
    depends_on:
      - mariadb
    expose:
      - "9000"
    secrets:
      - db_user_password
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    restart: always

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    env_file: ./.env
    expose:
      - "3306"
    secrets:
      - db_root_password
      - db_user_password
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    restart: always

volumes:
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/herakoto/data/wordpress
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/herakoto/data/mariadb

networks:
  inception:
    driver: bridge

secrets:
  user_wp_password:
    file: /home/herakoto/Inception/secrets/user_wp_pass.txt
  wp_root_password:
    file: /home/herakoto/Inception/secrets/admin_wp_passwords.txt
  db_root_password:
    file: /home/herakoto/Inception/secrets/root_db_passwd.txt
  db_user_password:
    file: /home/herakoto/Inception/secrets/user_db_password.txt
